<tr id="albums-<%= id %>">
    <td><%= album %></td>
    <td><%= artist %></td>
    <td><%= year %></td>
    <td><button hx-delete="/albums/<%= id %>" hx-target="#albums-<%= id %>">Delete</button></td>
</tr>